@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body onload="">
    <!--Slider principal de la pagina-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/IMG/gym1.jpg" alt="Sistema Gimnasio" class="d-block w-100" />
                <div class="carousel-caption" role="option">
                    <p>
                        <h3>
                            <strong class="text-white">Sistema para gestion y control de socios en tu gimnasio  </strong>
                        </h3>
                        <a class="btn btn-outline-light" href="Home/Privacy">
                            Saber mas
                        </a>
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/IMG/Gestion1.png" alt="Sistema Gimnasio" class="d-block w-100" />
                <div class="carousel-caption" role="option">
                    <p>
                        <h3>
                            <strong class="text-dark">administracion de usuarios y personal</strong>
                        </h3>
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/IMG/Gestion2.png" alt="Sistema Gimnasio" class="d-block w-100" />
                <div class="carousel-caption" role="option">
                    <p>
                        <h3>
                            <strong class="text-dark">Control de inscripciones de socios</strong>
                        </h3>
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/IMG/gym2.jpg" alt="Sistema Gimnasio" class="d-block w-100" />
                <div class="carousel-caption" role="option">
                    <p>
                        <h3>
                            <strong class="text-white">Sistema para gestion y control de socios en tu gimnasio  </strong>
                        </h3>
                        <a class="btn btn-outline-light" href="Home/Privacy">
                            Contactar
                        </a>
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/IMG/Gestion3.png" alt="Sistema Gimnasio" class="d-block w-100" />
                <div class="carousel-caption" role="option">
                    <p>
                        <h3>
                            <strong class="text-dark">Control de membresias mensuales</strong>
                        </h3>
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/IMG/Gestion4.png" alt="Sistema Gimnasio" class="d-block w-100" />
                <div class="carousel-caption" role="option">
                    <p>
                        <h3>
                            <strong class="text-dark">Reportes de ventas mensuales y graficas anuales a PDF</strong>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
        <!--Informacion-->
        <div class="space-top-md">
            <center class="text-lg-center">
                <h3 class="text-danger">INFORMACIÓN:</h3><h4><strong> Puedes acceder al sistema como super usuario, inicia sesion como:</strong></h4><br />
                <strong>
                    - Usuario: "Admin"<br />
                    - Contraseña: "Admin123."
                </strong>


            </center>
        </div>
</body>