@{
    ViewData["Title"] = "Acerca del sistema";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>
        El uso de este sistema es reservado, puedes pedir más información o una prueba<br />
        contactando con el desarrollador por medio de correo.<br />
        <strong class="text-info">Cristian_AAT@outlook.com</strong><br />
        <br />
        El sistema cuenta con las siguientes caracteristicas:<br />
        <ul>
            <li>
                Control de inscripciones de socios.
            </li>
            <li>
                Administración de usuarios del sistema.
            </li>
            <li>
                Reportes de ventas mensuales (tabla) y anuales (grafica), imprimibles a PDF.
            </li>
            <li>
                Entradas al gimnasio, por visitas o socios.
            </li>
            <li>
                Membresias mensuales para los socios del gimnasio.
            </li>
            <li>
                Control de cuentas por medio de email seguro.
            </li>
        </ul>
        <br />
        <strong>
            Puedes adquirir de este sistema, adaptandolo a tu negocio, agregando nuevas caracteristicas<br />
            o mejorando algunas de ellas.
        </strong>
    </p>
</div>
